<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(<%= asset_path(blog_post.img_url) %>);">
  <div class="container">
    <header>
      <h1 class="mt-5 mb-4 fs-1"><i class="fa-solid fa-pen-to-square text-info"></i> <%= blog_post.title %></h1>
    </header>
  </div>
</div>
