<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(<%= asset_path('abstract-1') %>);">
  <div class="container">
    <header>
      <h1 class="mt-5 mb-4 fs-1">Create Blog Post <i class="fa-solid fa-rocket text-success"></i></h1>
    </header>
  </div>
</div>
