<!-- Blog post edit -->
<%= render "edit_hero_banner", blog_post: @blog_post %>
<div class="container">
  <section id="edit-blog-post">
    <h2 class="mt-5 mb-4">Edit blog post</h2>
    
  </section>
</div>
