<%= render "blog_posts_hero_banner" %>
<div class="container">
  <section id="blog-posts-index">
    <h2 class="mt-5 mb-4">Blog Posts</h2>
    <ul>
      <% @blog_posts.each do |blog_post| %>
        <li>
          <%= link_to blog_post_path(blog_post) do %>
            <%= blog_post.title %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <p>Ruby on Rails, often called Rails, is a web application framework built with the Ruby programming language. Created by David Heinemeier Hansson in the early 2000s, the framework was originally extracted from the codebase of Basecamp, a project management tool developed by 37signals (now known as Basecamp). Hansson released Rails as open source in 2004, allowing developers around the world to contribute and build upon its foundations.
    Before Rails, web development was often tedious, requiring developers to write boilerplate code for repetitive tasks like database queries, request handling, and routing. Rails introduced a revolutionary principle: Convention over Configuration. This meant developers could focus on building features instead of managing endless setup files. Combined with Don’t Repeat Yourself (DRY), Rails promoted clean, maintainable, and efficient code.
    By the mid-2000s, Rails had gained massive attention for its ability to help teams build web apps faster than ever. Iconic web platforms like GitHub, Shopify, and Airbnb were early adopters, proving Rails could scale beyond small projects. Its integrated tools for database migrations, scaffolding, and testing made it a complete ecosystem for startups and enterprises alike.</p>
  </section>
</div>
