<%= render "blog_post_banner", blog_post: @blog_post %>
<div class="container">
  <article data-controller="html-inject" data-action="DOMContentLoaded->html-inject#convertHtmlString" class="mt-5 mb-4" hidden>
    <!-- textContent that's inside <article> element -->
    <%= @blog_post.html_content %>
  </article>
</div>
