<!-- About me -->
<section id="about-me" class="bg-waves-2 container-fluid p-5 my-5">
  <div class="container">
    <h2 class="h2-d mb-4">About me</h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <%= image_tag "rails-dev-1", alt: "Louis web developer", class: "w-100 border border-light border-5 rounded-4 shadow mb-4" %>
      </div>
      <div class="col-12 col-md-6">
        <p class="text-about fs-6">Mixed British-Thai developer based in Thailand, which I now call home after growing up across multiple countries. Fluent in English and Thai, with a long-standing love of tech 🤓 that naturally led into full‑stack development. Also an independent trader and financial analyst, combining technical charting with a structured, risk‑first approach to the markets 📊. <br><br>Beyond code and charts, staying active is a big part of life—lifting, kitesurfing, running, and hiking—and that love of adventure took me all the way through New Zealand’s 3,000 km Te Araroa thru‑hike, which I completed over four months in 2024/2025 🚀.</p>
      </div>
    </div>
  </div>
</section>
