<!-- About me -->
<section id="about-me" class="bg-dark container-fluid p-5 my-5">
  <div class="container">
    <h2 class="h2-d mb-4">About me</h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <%= image_tag "rails-dev-1", alt: "Louis web developer", class: "w-100 border border-light border-5 rounded-4 shadow mb-4" %>
      </div>
      <div class="col-12 col-md-6">
        <p>I'm mixed British / Thai and although I grew up living in multiple countries, Chiang Mai Thailand is my home and I speak English and Thai. I've always been a bit nerdy about tech 🤓 and enjoy building things so it was only a natural progression that I found my passion for code & software development. I'm also an independent trader and financial analyst so I love looking at charts 📊. <br><br> Fun fact: I recently finished walking the Te Araroa, a 3,000km thru-hike in New Zealand which took me 4 months to walk in 2024/2025.</p>
      </div>
    </div>
  </div>
</section>
