<!-- About me -->
<section id="about-me" class="bg-waves-2 container-fluid p-5 my-5">
  <div class="container">
    <h2 class="h2-d mb-4">About me</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <%= image_tag "rails-dev-1.jpg", alt: "Louis web developer", class: "w-100 border border-light border-5 rounded-4 shadow mb-4" %>
      </div>
      <div class="col-12 col-md-6">
        <p class="text-about fs-5">Mixed British-Thai developer based in Thailand, which I now call home after growing up across multiple countries. Fluent in English and Thai, with a long-standing love of tech 🤓 that naturally led into full‑stack development. Also an independent trader and financial analyst, combining technical charting with a structured, risk‑first approach to the markets 📊.
        </p>
      </div>
    </div>
    <!-- Adventure -->
    <div class="row my-3 mb-2">
      <div class="col-12 col-md-6">
        <%= image_tag "mt-cook-ta.jpg", alt: "Louis web developer", class: "w-100 border border-light border-5 rounded-4 shadow mb-4" %>
      </div>
      <div class="col-12 col-md-6">
        <p class="text-about fs-5">Beyond code and charts, staying active is a big part of life - lifting, kitesurfing, running, and hiking - and that love of adventure took me all the way through New Zealand’s 3,000 km Te Araroa thru‑hike, which I completed over four months in 2024/2025 🚀.</p>
      </div>
    </div>
    <!-- Thai PBS 2C -->
    <div class="row my-3">
      <div class="col-12 col-md-6">
        <div class="border border-light border-5 rounded-4 shadow">
          <!-- width="560" -->
          <iframe height="350" src="https://www.youtube.com/embed/X427QTamroE?si=cIjvoF9l_rCW2GHn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" class="w-100" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h4 class="h1-d mt-4 mb-3">Thai PBS - 2C Climate Change Documentary Series: Episode 4</h4>
        <p class="text-about fs-5 mb-4">Served as a TV presenter in 2019 for a five‑episode climate change documentary along the Gulf of Thailand, covering the coastlines of Thailand, Cambodia, and Vietnam. The series explores key environmental challenges across Southeast Asia and still airs on Thai national TV.</p>
      </div>
    </div>
  </div>
</section>
