<!-- About me -->
<section id="about-me" class="bg-dark container-fluid p-5 my-5">
  <div class="container">
    <h2 class="h2-d mb-4">About me</h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <%= image_tag "rails-dev-1", alt: "Louis web developer", class: "w-100 border border-light border-5 rounded-4 shadow mb-4" %>
      </div>
      <div class="col-12 col-md-6">
        <p>Mixed British-Thai developer based in Chiang Mai, Thailand—my home after growing up across multiple countries. Fluent in English and Thai, with a lifelong nerdy passion for tech 🤓 that naturally led to building software as a full-stack Ruby on Rails specialist. Also an independent trader and financial analyst, thriving on chart analysis and data insights 📊. <br><br> Fun fact: Recently completed the Te Araroa, New Zealand's epic 3,000 km thru-hike, completing it in 4 months during 2024/2025 🚀.</p>
      </div>
    </div>
  </div>
</section>
