<!-- Contact -->
<section id="contact">
  <div class="container">
    <div class="card shadow-sm rounded-4 my-3">
      <div class="card-body p-4">
        <h2 class="mb-3">Contact me</h2>
        <p class="card-text mb-5">Want to collaborate or discuss a project? <br>
          <br>
          Fill out the form below or email me directly at
          <%= link_to "dev@louisbourne.me", "mailto:dev@louisbourne.me", target: "_blank", class: "text-decoration-none" %>. <br>
          <br>
          Currently available for full-time roles and exciting opportunities, while accepting <%= link_to "Fiverr", "https://www.fiverr.com/s/YR5qwel", target: "_blank", class: "text-decoration-none" %> orders to build your Ruby on Rails app, MVP, or custom project.
        </p>
        <form action="" class="mb-2">
          <input type="text">
        </form>
        <%#= simple_form_for @model do |f| %>

        <%# end %>
      </div>
    </div>
  </div>
</section>
