<!-- Demo day -->
<section id="demo-day" class="bg-dark container-fluid p-5 my-5">
<div class="container">
  <div class="row my-5">
    <div class="col-12 col-md-6">
      <h2 class="h1-d mb-3">Le Wagon Tokyo demo day</h2>
      <h4 class="h4-d mb-5">Showcasing our demo app <span class="text-decoration-underline">Market Sensei</span> at Le Wagon Tokyo demo day, hosted by Google for Startups.</h4>
    </div>
    <div class="col-12 col-md-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/4xmj3REIGe0?si=YLU2WypZ70-SUjgb&amp;start=5030" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
</section>
