<!-- Certifications -->
<section id="education">
  <div class="container">
    <h3 class="mb-3">Education & certifications</h3>
    <p>My education and key certifications at a glance.</p>
  </div>
</section>
