<!-- Education -->
<section id="education">
  <div class="container">
    <h3 class="mb-3">Education & certifications</h3>
    <p>My education background and key certifications sorted by relevance first.</p>
    <div class="row">
      <!-- Le Wagon certification -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="d-flex justify-content-start align-items-top gap-3 mb-3">
          <%= image_tag "lb-color", alt: "Le Wagon logo", class: "w-25" %>
          <p>Le Wagon: AI software development bootcamp, 2025 ?</p>
        </div>
      </div>
      <!-- Nucamp certification -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="d-flex justify-content-start align-items-top gap-3 mb-3">
          <%= image_tag "lb-color", alt: "Nucamp logo", class: "w-25" %>
          <p>Nucamp: Full-stack web and mobile development bootcamp, 2023-2024 ?</p>
        </div>
      </div>
      <!-- Digital Marketing Institute certification -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="d-flex justify-content-start align-items-top gap-3 mb-3">
          <%= image_tag "lb-color", alt: "Digital Marketing Institute logo", class: "w-25" %>
          <p>Digital Marketing Institute: Digital marketing diploma, 2017-2018</p>
        </div>
      </div>
      <!-- Newcastle University certification -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="d-flex justify-content-start align-items-top gap-3 mb-3">
          <%= image_tag "lb-color", alt: "Newcastle University logo", class: "w-25" %>
          <p>Newcastle University: Bachelor of science in marine biology, 2008-2011</p>
        </div>
      </div>
    </div>
  </div>
</section>
