<!-- Hero banner -->
<div id="hero-banner" class="d-flex justify-content-center align-items-start text-center">
  <%= render "social_vertical_bar" %>
  <div class="container mt-5">
    <div class="mt-5">
      <h1 class="text-light">
        Hi,<br>
        I'm Louis,<br>
        web developer
      </h1>
      <h2 class="lighter-gray">Fullstack Developer / Ruby-on-Rails</h2>
      <div class="mt-4">
        <%= link_to "Contact Me", "#contact", class: "btn btn-primary btn-lg custom-btn rounded-5" %>
        <!-- Once there are more than 6 projects add `Project` page to NavBar and change hero banner secondary button to "Key Projects". -->
        <!-- <%#= link_to "Key Projects", "#featured-projects", class: "btn btn-outline-light btn-lg rounded-5 custom-btn" %> -->
        <%= link_to "Key Projects", "#featured-projects", class: "btn btn-outline-light btn-lg rounded-5 custom-btn" %>
      </div>
    </div>
    <div class="chevron-scroll">
      <%= link_to "#featured-projects", class: "d-flex flex-column align-items-center justify-content-center text-decoration-none" do %>
        <i class="fas fa-angle-double-down"></i>
      <% end %>
    </div>
  </div>
</div>
