<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(<%= asset_path('abstract-shapes-2') %>);">
  <div class="container">
    <h1 class="mt-5 mb-4 fs-1">Privacy Policy <i class="fa-solid fa-file-shield"></i></i></h1>
    <p class="text-lg text-gray-600">
      www.louisbourne.me
    </p>
    <p class="text-sm text-gray-500 mt-2">
      Last updated: December 10, 2025
    </p>
  </div>
</div>
