<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(<%= asset_path('abstract-kelp-2.jpg') %>);">
  <div class="container">
    <h1 class="mt-5 mb-4 fs-1"><i class="fa-solid fa-mug-hot text-light"></i> Welcome back Louis!</h1>
    <p>"What is one tiny action today that your future self will be genuinely grateful you did?"</p>
  </div>
</div>
