<!-- Related skills -->
<section id="related-skills">
  <div class="container">
    <h3 class="mb-3">Related skills and background</h3>
    <p>I have experience and backgrounds in the following fields.</p>
    <!-- 1st row -->
    <div class="row">
      <!-- Card #1 -->
      <div class="col-12 col-md-6">
        <div class="card shadow-sm rounded-4 my-3">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-top gap-4">
              <%= image_tag "trading", alt: "Trading and financial analysis", class: "w-25 rounded-3" %>
              <div class="">
                <h5 class="card-title fw-bold mb-2">Trading & financial analysis <i class="fa-solid fa-chart-line text-dark"></i></h5>
                <p class="card-text small mb-3">Over 5 and a half years of experience in trading and financial analysis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card #2 -->
      <div class="col-12 col-md-6">
        <div class="card shadow-sm rounded-4 my-3">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-top gap-4">
              <%= image_tag "digital-marketing", alt: "Digital marketing", class: "w-25 rounded-3" %>
              <div class="">
                <h5 class="card-title fw-bold mb-2">Digital marketing <i class="fa-solid fa-bullhorn text-dark"></i></h5>
                <p class="card-text small mb-3">Drove online store sales through targeted marketing for 3 years.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 2nd row -->
    <div class="row">
      <!-- Card #3 -->
      <div class="col-12 col-md-6">
        <div class="card shadow-sm rounded-4 my-3">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-top gap-4">
              <%= image_tag "ecom", alt: "E-commerce and online shopping", class: "w-25 rounded-3" %>
              <div class="">
                <h5 class="card-title fw-bold mb-2">E-commerce <i class="fa-solid fa-cart-shopping text-dark"></i></h5>
                <p class="card-text small mb-3">3 years experience in building online stores with WordPress WooCommerce and Shopify.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card #4 -->
      <div class="col-12 col-md-6">
        <div class="card shadow-sm rounded-4 my-3">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-top gap-4">
              <%= image_tag "analysis", alt: "Statistical analysis", class: "w-25 rounded-3" %>
              <div class="">
                <h5 class="card-title fw-bold mb-2">Analytical skills <i class="fa-solid fa-magnifying-glass-chart text-dark"></i></h5>
                <p class="card-text small mb-3">Analyzed finance and marketing trends to inform strategic decisions.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <hr class="my-5">
  </div>
</section>
