<div>
  <div class="banner">
    <img src="https://cdn.midjourney.com/4c6aed2f-4df6-4841-b179-1139ba236867/0_1.png" alt="" class="w-100">
  </div>
  <h1 class="m-4 text-secondary">
    Hi! ✌️ I'm Louis Bourne. I am a fullstack Rails developer.
  </h1>
</div>
<div class="contai">
  <div class="card">
    <img src="" alt="">
  </div>
</div>
