<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(<%= asset_path(project.img_url) %>);">
  <div class="container">
    <h1 class="mt-5 mb-4 fs-1"><i class="fa-solid fa-pen-to-square text-info"></i> <%= project.title %></h1>
  </div>
</div>
