<!-- Project edit -->
<header>
  <%= render "edit_hero_banner", project: @project %>
</header>
<div class="container">
  <main>
    <section id="edit-project">
      <h2 class="mt-5 mb-4">Edit project</h2>
      <%= render "form", submit_label: "Submit" %>
    </section>
  </main>
</div>
