.btn-outline-light.custom-btn:hover,
.btn-outline-light.custom-btn:focus {
  background-color: rgba(225,255,255,0.15); // Transparent white fill.
  color: $white;
  border-color: $white;
}

.nav-btn {
  padding: 8px 18px;
  font-size: 16px;
}

.outline-d-btn {
  border: 2px solid;
}

// Custom change fill color inside `btn-outline-dark` button.
// .btn-outline-dark:hover,
// .btn-outline-dark:focus {
//   background-color: #e9e8e8;
//   color: #212529;
//   border-color: #212529;
// }

// Github icon link hover grow effect.
.github-btn i {
  transition: transform 0.3s cubic-bezier(0.2,0.84,0.5,1);
}

.github-btn:hover i,
.github-btn:focus i {
  transform: scale(1.25); // Icon grows to 125%
}
