// .card-project {
//   max-width: 400px;
// }

.card-project {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 3/4;
}

.card-blog-post {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 3/4;
  // max-height: 600px;
}

// .card-grow {
//   transition: transform 0.3s, background-image 4.0s;
// }

// .card-grow:hover,
// .card-grow:focus {
//   background-image: url("abstract-waves.png");
//   transform: scale(1.02);
// }

.card-grow {
  transition: transform 0.3s;
}

.card-grow:hover,
.card-grow:focus {
  transform: scale(1.02);
}
