// .card-project {
//   max-width: 400px;
// }

.card-project {
  height: 530px;
  // width: 100%;
  max-width: 400px;
  // aspect-ratio: 3/4; // w:h
}

.card-blog-post {
  height: 690px;
  // width: 100%;
  max-width: 400px;
  // aspect-ratio: 3/4; // w:h
}

.card-education {
  height: 160px;
  width: 100%;
  // max-width: 400px;
}

.card-skills {
  height: 160px;
  width: 100%;
  // max-width: 400px;
}


// Background change on hover
// .card-grow {
//   transition: transform 0.3s, background-image 4.0s;
// }

// .card-grow:hover,
// .card-grow:focus {
//   background-image: url("abstract-1.jpg");
//   transform: scale(1.02);
// }

//  Make the card grow on hover
// .card-grow {
//   transition: transform 0.3s;
// }

// .card-grow:hover,
// .card-grow:focus {
//   transform: scale(1.02);
// }
