body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.hero-banner {
  width: 100%;
  height: 100vh; // Full viewport height
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), image-url('cosmos-gaze.png');
  // background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), image-url('cosmos-laptop.png');
  background-size: cover;
  background-position: center;
}
