#hero-banner {
  width: 100%;
  height: 100vh; // Full viewport height
  // background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
  //   image-url("black-hole-3-zoom-out-s.jpg"); // Original background-image settings.
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    image-url("black-hole-3-zoom-out-s.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.chevron-scroll {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0);
  z-index: 20;
}

.chevron-scroll a {
  color: #f5f5f5;
  font-size: 1.55rem;
  transition: transform 0.3s, color 0.2s;
  display: block;
}

.chevron-scroll a:hover,
.chevron-scroll a:focus {
  color: #bebebe;
  transform: scale(1.2);
}

// Demo day section
.bg-waves-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    image-url("abstract-waves-purple.jpg");
  background-size: cover;
  background-position: center;
}

// About me section
.bg-waves-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    image-url("abstract-waves.jpg");
  background-size: cover;
  background-position: center;
}
