#hero-banner {
  width: 100%;
  height: 100vh; // Full viewport height
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    image-url("lb-banner-light-show.png");
  // background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), image-url('cosmos-laptop.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

// #demo-day {
//   width: 100%;
//   // height: 100vh; // Full viewport height
//   background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
//     image-url("abstract-waves.png");
//   background-size: cover;
//   background-position: center;
//   position: relative;
// }

.chevron-scroll {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0);
  z-index: 20;
}

.chevron-scroll a {
  color: #f5f5f5;
  font-size: 1.55rem;
  transition: transform 0.3s, color 0.2s;
  display: block;
}

.chevron-scroll a:hover,
.chevron-scroll a:focus {
  color: #bebebe;
  transform: scale(1.2);
}
