.navbar-lb {
  justify-content: space-between;
}

.navbar-lb .navbar-collapse {
  flex-grow: 0;
}

.navbar-lb .navbar-brand img {
  width: 60px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
}
