.navbar-lb {
  justify-content: space-between;
  background: linear-gradient(rgba(4, 5, 7, 0.8), rgba(4, 5, 7, 0));
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.navbar-lb .navbar-collapse {
  flex-grow: 0;
}

.navbar-lb .navbar-brand img {
  width: 60px;
}

.navbar-wordmark {
  font-family: $headers-font;
  font-weight: 700;
  font-size: 15.5px;
  color: $text-bright;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
}
