// Element tag styles
// Light mode default
h1 {
  color: #000000;
}

h2 {
  color: #333333;
}

h3 {
  color: #666666;
}

h4 {
  // color: #979696;
  color: #666666;
}

h5 {
  // color: #bcbcbc;
  color: #999999;
}

p {
  color: #999999;
}

li {
  color: #e5782a;
}

// Dark background - progressive lightening from <h1> (brightest) to <p> (medium gray)
.h1-d {
  color: #ffffff;
}

.h2-d {
  color: #f5f5f7;
}

.h3-d {
  color: #e8e8ed;
}

.h4-d {
  color: #d4d4d8;
}

.h5-d {
  color: #c1c2c5;
}

.p-d {
  color: #a1a1aa;
}

// Custom text styles

.lighter-gray {
  color: #aca9a9;
}
.gray-non-link {
  color: $gray;
}

.gray-link {
  color: $gray;
  transition: color 0.3s;
  // text-decoration: none; // omitted because should be optional as a bootstrap style class.
}

.gray-link:hover,
.gray-link:focus {
  // color: black;
  color: $blue;
}

.text-tech-stack {
  letter-spacing: 1px;
}

.soft-orange {
  color: #e5782a;
}
