// Element tag styles
// Light mode default
h1 {
  color: $black;
}

h2 {
  color: $dark-gray;
}

h3 {
  color: $gray;
}

h4 {
  color: #979696;
}

p {
  color: $gray;
}

li {
  // color: #919090;
  color: #e5782a;
}

// Dark mode
.h1-d {
  color: $white;
}

.h2-d {
  color: $light-gray;
}

.h3-d {
  color: #e3e2e2;
}

.h4-d {
  color: #cfcfcf;
}

.p-d {
  color: $light-gray;
}

// Custom text styles

.lighter-gray {
  color: #aca9a9;
}
.gray-non-link {
  color: $gray;
}

.gray-link {
  color: $gray;
  transition: color 0.3s;
  // text-decoration: none; // omitted because should be optional as a bootstrap style class.
}

.gray-link:hover,
.gray-link:focus {
  // color: black;
  color: $blue;
}

.text-tech-stack {
  letter-spacing: 1px;
}

.soft-orange {
  color: #e5782a;
}
