h1 {
  color: $black;
}

h2 {
  color: $dark-gray;
}

h3 {
  color: $gray;
}

h4 {
  color: #979696;
}

p {
  color: $light-gray;
}

.gray {
  color: $light-gray
}

.text-tech-stack {
  letter-spacing: 1px;
}
